/* 
    Created on : Jan 6, 2014, 11:30:38 PM
    Author     : Masud Afsar <masud.afsar@live.com>
*/


.randbg {
background: url('../images/history-bg.png') no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:100%;
width:100%;
display:table;
background-size:cover;
vertical-align:middle;
}

.randbg.bg1 {
background-image: url('../images/history-bg.png');
}
.randbg.bg2 {
background-image: url('../images/clients-bg.png');
}
.randbg.bg3 {
background-image: url('../images/contact-bg.png');
}
.randbg.bg4 {
background-image: url('../images/info-bg.png');
}
.randbg.bg5 {
background-image: url('../images/info2-bg.png');
}
.randbg.bg6 {
background-image: url('../images/info3-bg.png');
}
