<div class="home-part-2">

  <div class="big">
    <div class="gallery clearfix">
      <a href="http://www.youtube.com/watch?v=4tOsFQAN9Yc&sns=em" rel="prettyPhoto" title="The U Part 2 / Original Music">
        <span>
          "The U Part 2" <br />
          ESPN 30 for 30 <br />
          Original Music, SFX and Mix
        </span>
        <img src="images/home-pic1.png" />
      </a>
    </div>
  </div>

  <div class="small">
    <div class="gallery clearfix">
      <a href="http://youtu.be/MX1Fpor2VAI" rel="prettyPhoto" title="ANR / Stay Kids for Zara">
        <span>
          Zara <br/>
          Music Placement <br/>
          ANR "Stay Kids" <br/>
          2014
        </span>
        <img src="images/home-pic2.png" />
      </a>
    </div>
  </div>

  <div class="small">
    <div class="gallery clearfix">
      <a href="https://www.youtube.com/watch?v=pIi7rcOWgdE&feature=youtu.be" rel="prettyPhoto" title="Plains / Little Haiti for Mondrian Hotel Group">
        <span>
         Mondrian Hotel <br/>
         Music Placement <br/>
         Plains "Little Haiti" <br/>
         2014
       </span>
       <img src="images/home-pic3.png" />
     </a>
   </div>
  </div>

  <div class="big2">
    <div class="gallery clearfix">
      <a href="https://www.youtube.com/watch?v=DnoNGqYGOXs" rel="prettyPhoto" title="Icona Pop / Light Me Up">
        <span>
          Icona Pop <br />
          "Light Me Up" <br />
          Songwriter/Producer <br />
          2014<br />

        </span>
        <img src="images/home-pic6.png" />
      </a>
    </div>
  </div>

  <div class="small2">
    <div class="gallery clearfix">
      <a href="https://www.youtube.com/watch?v=-HIrrUJX2AY" rel="prettyPhoto" title="NICKY BLITZ / Alex">
        <span>
          NICKY BLITZ<br />
          "Alex"<br />
          Single + Video<br />
          2014<br />
        </span>
        <img src="images/home-pic4.png" />
      </a>
    </div>
  </div>

  <div class="small2">
    <div class="gallery clearfix">
      <a href="https://www.youtube.com/watch?v=DeMInwNB4Ms&index=5&list=UUWZTQLvNSm92fZPnjVGFRIA" rel="prettyPhoto" title="NICKY BLITZ / Alex">
        <span>
           Michael Kors <br />
           Music Placement <br />
           John Hancock III  "Left Me" <br />
           2014
        </span>
        <img src="images/home-pic5.png" />
      </a>
    </div>
  </div>

</div>
