<% if card %>
  <%= image_tag card.background.url(:thumb), alt: card.title %>
  <div>
    <%= truncate(card.title, length: 40, omission: "…") %>
    <br>
    <% unless card.first? %>
      <%= link_to "Move higher", move_higher_admin_card_path(card), method: :post %>
      <br>
    <% end %>
    <% unless card.last? %>
      <%= link_to "Move lower", move_lower_admin_card_path(card), method: :post %>
      <br>
    <% end %>
  </div>
<% end %>
