<% if card %>
  <%= link_to card_image_preview(card), edit_admin_card_path(card) %>
  <div>
    <%= link_to truncate(card.title, length: 40, omission: "…"), edit_admin_card_path(card) %>
    <br>
    <% unless card.first? %>
      <%= link_to "Move higher", move_higher_admin_card_path(card), method: :post %>
      <br>
    <% end %>
    <% unless card.last? %>
      <%= link_to "Move lower", move_lower_admin_card_path(card), method: :post %>
      <br>
    <% end %>
  </div>
<% end %>
